/*=============== FOOTER ===============*/
.footer {
  padding-block: 4rem;
  background-color: rgba(var(--background-color-rgb), 0.75);
}

.footer .footer_container {
  row-gap: 3rem;
  display: grid;
  gap: 1.5rem;
}



.footer .footer_container .footer_logo {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  transition: color 0.3s;
  margin-inline: auto;
  margin-bottom: 2rem;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}

.footer .footer_container .footer_logo img {
  width: 112px;
  height: 100%;
}

/* Start Contact US  */
.footer .footer_container .footer__contact_us form.contact {
  display: flex;
  flex-direction: column;
  width: min(100%, 400px);
  justify-content: space-around;
  gap: 1rem;
  align-items: stretch;
}

.footer .footer_container .footer__contact_us form.contact>* {
  box-shadow: 0px 7px 12px -6px var(--border-color);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: rgba(var(--background-color-rgb), 0.75);
  color: var(--first-color);
  font-size: 14px;
  font-weight: bold;
  transition: outline .3s;
  -webkit-transition: outline .3s;
  -moz-transition: outline .3s;
  -ms-transition: outline .3s;
  -o-transition: outline .3s;
}

.footer .footer_container .footer__contact_us form.contact textarea {
  height: 120px;
}

.footer .footer_container .footer__contact_us form.contact input:hover,
.footer .footer_container .footer__contact_us form.contact textarea:hover,
.footer .footer_container .footer__contact_us form.contact input:focus,
.footer .footer_container .footer__contact_us form.contact textarea:focus {
  outline: 2px solid var(--border-color);
}

.footer .footer_container .footer__contact_us form.contact>*:user-invalid,
.footer .footer_container .footer__contact_us form.contact>*:user-invalid:focus {
  outline: 1px solid hsl(0, 78%, 62%);
}


.footer .footer_container .footer__contact_us form.contact button {
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(45deg, var(--first-color) 0%, var(--second-color) 100%);
  color: var(--background-color);
  font-size: 15px;

}

.footer .footer_container .footer__contact_us form.contact button:hover {
  background: var(--second-color);
  color: var(--first-color);
}

/* End Contact US  */
.footer .footer_container .footer_data {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem 2rem;
  text-align: center;
}

.footer .footer_container .footer_title {
  font-size: var(--h3-font-size);
  font-weight: bold;
  margin-bottom: 1.25rem;
  color: var(--first-color);
  text-align: center;
}

.footer .footer_container .footer_data .footer_links {
  display: grid;
  row-gap: 0.5rem;
}

.footer .footer_container .footer_data .footer_links .footer_link {
  color: var(--text-color);
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
}

.footer .footer_container .footer_data .footer_links .footer_link:hover {
  color: var(--first-color);
}

.footer .footer_container .footer_data .footer_social {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.25rem;
}

.footer .footer_container .footer_data .footer_social .footer_social_link {
  font-size: 1.25rem;
  color: var(--first-color);
}

.footer .footer_copy {
  display: block;
  margin-top: 5rem;
  text-align: center;
  font-size: var(--small-font-size);
}

/*=============== SCROLL UP ===============*/
.scroll_up {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.37);
  display: inline-flex;
  padding: 6px;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--first-color);
  z-index: 100;
  transition: bottom 0.4s, transform 0.4s, background-color 0.4s;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  -webkit-transition: bottom 0.4s, transform 0.4s, background-color 0.4s;
  -moz-transition: bottom 0.4s, transform 0.4s, background-color 0.4s;
  -ms-transition: bottom 0.4s, transform 0.4s, background-color 0.4s;
  -o-transition: bottom 0.4s, transform 0.4s, background-color 0.4s;
}

.scroll_up:hover {
  transform: translateY(-0.5rem);
  -webkit-transform: translateY(-0.5rem);
  -moz-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
  -o-transform: translateY(-0.5rem);
}

/* Show Scroll Up */
.scroll_up.show-scroll {
  bottom: 6rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
/* For small devices */
/* For medium devices */
@media screen and (min-width: 576px) {
  .footer {
    padding-block: 4rem 6rem;
  }

  .footer .footer_data {
    grid-template-columns: repeat(3, 1fr);
  }
}



@media screen and (max-width: 800px) {
  .footer__contact_us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .footer__contact_us .contact {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

@media screen and (min-width: 800px) {
  .footer_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    margin-inline: auto;
    gap: 4rem;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .footer {
    padding-block: 6rem 3rem;
  }

  .footer .footer_data {
    grid-template-columns: repeat(4, max-content);
    column-gap: 4.5rem;
  }

  .footer .footer_data .footer_links {
    row-gap: 1rem;
  }

  .footer .footer_data .footer_social {
    column-gap: 1.5rem;
  }

  .footer .footer_data .footer_social_link {
    font-size: 1.5rem;
  }

  .footer .footer_logo,
  .footer .footer_title {
    font-size: var(--h2-font-size);
    margin-bottom: 1.5rem;
  }

  .footer .footer_copy {
    margin-top: 7.5rem;
  }

  .scroll_up {
    right: 3rem;
  }

  .show-scroll {
    bottom: 3rem;
  }
}